html {
    background-image: url(images/__HoldemBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

html, body {
    margin: 0;
    height: 110%;
}

.ribbon {
    background-color: lightblue;
    height: 100px;
    width: 100%;
}

.poker-table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-width: 800px;
    padding: 0;
}

.poker-table-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.poker-table-image-vertical {
    display: none;
}

#button, .dealerbutton {
    background-image: url(images/__dealerbutton.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 19px;
    position: absolute;
    width: 24px;
    left: 130px;
    top: 110px;
    display: none;
}

.dealerbutton.dealerbutton-current {
    display: block;
}

.name-chips {
    background-color: gray;
    border-radius: 3px;
    color: white;
    font-size: 1em;
    text-align: center;
    width: 140px;
    margin-top: 3px;
    overflow: hidden;
    white-space: nowrap;
}

.player-name {
    width: 100%;
}

.card {
    background-image: url(images/_cardback.png);
    background-size: cover;
    border-radius: 4px;
    height: 101px;
    width: 69px;
}

.holecard1 {
    display: table-cell;
}

.holecard2 {
    display: table-cell;
}

.bet {
    color: white;
    font-size: 1.3em;
    margin-top: 5px;
    white-space: nowrap;
}

.seat {
    height: 160px;
    width: 160px;
    display: inline-block;
    position: absolute;
}

#seat0 {
    top: 500px;
    left: 150px;
}

#seat1 {
    top: 250px;
    left: 5px;
}

#seat2 {
    top: 10px;
    left: 150px;
}

#seat3 {
    top: 10px;
    left: 380px;
}

#seat4 {
    top: 10px;
    left: 610px;
}

#seat5 {
    top: 10px;
    left: 840px;
}

#seat6 {
    top: 250px;
    left: 1050px;
}

#seat7 {
    top: 500px;
    left: 840px;
}

#seat8 {
    top: 500px;
    left: 610px;
}

#seat9 {
    top: 500px;
    left: 380px;
}

#board {
    position: absolute;
    top: 280px;
    left: 340px;
}

#pot {
    color: white;
    font-size: 1.3em;
    text-align: center;
    width: 340px;
    margin-top: 10px;
}

.seat0-button {
    left: 335px;
    top: 590px;
}

.seat1-button {
    left: 185px;
    top: 350px;
}

.seat2-button {
    left: 330px;
    top: 116px;
}

.seat3-button {
    left: 545px;
    top: 115px;
}

.seat4-button {
    left: 760px;
    top: 115px;
}

.seat5-button {
    left: 980px;
    top: 115px;
}

.seat6-button {
    left: 1156px;
    top: 350px;
}

.seat7-button {
    left: 980px;
    top: 590px;
}

.seat8-button {
    left: 760px;
    top: 590px;
}

.seat9-button {
    left: 330px;
    top: 590px;
}

.boardcard {
    height: 101px;
    left: 0px;
    background-repeat: no-repeat;
    width: 69px;
    display: table-cell;
}

#flop1 {
    left: 0 px;
}

#flop2 {
    left: 52px;
}

#flop3 {
    left: 104px;
}

#turn {
    left: 156px;
}

#river {
    left: 208px;
}

#burn1 {
    left: 380px;
    transform: rotate(-18deg);
    position: absolute;
    top: 0;
}

#burn2 {
    position: absolute;
    left: 390px;
    top: 0;
}

#burn3 {
    left: 400px;
    transform: rotate(15deg);
    position: absolute;
    top: 0;
}

@media (max-width: 1150px) {
    #seat0 {
        top: 470px;
        left: 141px;
        transform: scale(1);
    }
    #seat1 {
        top: 235px;
        left: 5px;
        transform: scale(1);
    }
    #seat2 {
        top: 9px;
        left: 141px;
        transform: scale(1);
    }
    #seat3 {
        top: 9px;
        left: 357px;
        transform: scale(1);
    }
    #seat4 {
        top: 9px;
        left: 573px;
        transform: scale(1);
    }
    #seat5 {
        top: 9px;
        left: 790px;
        transform: scale(1);
    }
    #seat6 {
        top: 235px;
        left: 987px;
        transform: scale(1);
    }
    #seat7 {
        top: 470px;
        left: 790px;
        transform: scale(1);
    }
    #seat8 {
        top: 470px;
        left: 573px;
        transform: scale(1);
    }
    #seat9 {
        top: 470px;
        left: 357px;
        transform: scale(1);
    }
    #board {
        top: 263px;
        left: 320px;
        transform: scale(1);
    }
}

@media (max-width: 1100px) {
    #seat0 {
        top: 442px;
        left: 133px;
        transform: scale(1);
    }
    #seat1 {
        top: 221px;
        left: 5px;
        transform: scale(1);
    }
    #seat2 {
        top: 8px;
        left: 133px;
        transform: scale(1);
    }
    #seat3 {
        top: 8px;
        left: 336px;
        transform: scale(1);
    }
    #seat4 {
        top: 8px;
        left: 539px;
        transform: scale(1);
    }
    #seat5 {
        top: 8px;
        left: 743px;
        transform: scale(1);
    }
    #seat6 {
        top: 221px;
        left: 928px;
        transform: scale(1);
    }
    #seat7 {
        top: 442px;
        left: 743px;
        transform: scale(1);
    }
    #seat8 {
        top: 442px;
        left: 539px;
        transform: scale(1);
    }
    #seat9 {
        top: 442px;
        left: 336px;
        transform: scale(1);
    }
    #board {
        top: 247px;
        left: 301px;
        transform: scale(1);
    }
}

@media (max-width: 1050px) {
    #seat0 {
        top: 415px;
        left: 125px;
        transform: scale(1);
    }
    #seat1 {
        top: 208px;
        left: 5px;
        transform: scale(1);
    }
    #seat2 {
        top: 8px;
        left: 125px;
        transform: scale(1);
    }
    #seat3 {
        top: 8px;
        left: 316px;
        transform: scale(1);
    }
    #seat4 {
        top: 8px;
        left: 507px;
        transform: scale(1);
    }
    #seat5 {
        top: 8px;
        left: 698px;
        transform: scale(1);
    }
    #seat6 {
        top: 208px;
        left: 872px;
        transform: scale(1);
    }
    #seat7 {
        top: 415px;
        left: 698px;
        transform: scale(1);
    }
    #seat8 {
        top: 415px;
        left: 507px;
        transform: scale(1);
    }
    #seat9 {
        top: 415px;
        left: 316px;
        transform: scale(1);
    }
    #board {
        top: 232px;
        left: 283px;
        transform: scale(1);
    }
}

@media (max-width: 1000px) {
    #seat0 {
        top: 390px;
        left: 118px;
        transform: scale(0.9);
    }
    #seat1 {
        top: 196px;
        left: 5px;
        transform: scale(0.9);
    }
    #seat2 {
        top: 8px;
        left: 118px;
        transform: scale(0.9);
    }
    #seat3 {
        top: 8px;
        left: 297px;
        transform: scale(0.9);
    }
    #seat4 {
        top: 8px;
        left: 477px;
        transform: scale(0.9);
    }
    #seat5 {
        top: 8px;
        left: 656px;
        transform: scale(0.9);
    }
    #seat6 {
        top: 196px;
        left: 820px;
        transform: scale(0.9);
    }
    #seat7 {
        top: 390px;
        left: 656px;
        transform: scale(0.9);
    }
    #seat8 {
        top: 390px;
        left: 477px;
        transform: scale(0.9);
    }
    #seat9 {
        top: 390px;
        left: 297px;
        transform: scale(0.9);
    }
    #board {
        top: 218px;
        left: 266px;
        transform: scale(0.9);
    }
}

@media (max-width: 950px) {
    #seat0 {
        top: 367px;
        left: 111px;
        transform: scale(0.9);
    }
    #seat1 {
        top: 184px;
        left: 5px;
        transform: scale(0.9);
    }
    #seat2 {
        top: 8px;
        left: 111px;
        transform: scale(0.9);
    }
    #seat3 {
        top: 8px;
        left: 279px;
        transform: scale(0.9);
    }
    #seat4 {
        top: 8px;
        left: 448px;
        transform: scale(0.9);
    }
    #seat5 {
        top: 8px;
        left: 617px;
        transform: scale(0.9);
    }
    #seat6 {
        top: 184px;
        left: 771px;
        transform: scale(0.9);
    }
    #seat7 {
        top: 367px;
        left: 617px;
        transform: scale(0.9);
    }
    #seat8 {
        top: 367px;
        left: 448px;
        transform: scale(0.9);
    }
    #seat9 {
        top: 367px;
        left: 279px;
        transform: scale(0.9);
    }
    #board {
        top: 205px;
        left: 250px;
        transform: scale(0.9);
    }
}

@media (max-width: 900px) {
    #seat0 {
        top: 345px;
        left: 104px;
        transform: scale(0.8);
    }
    #seat1 {
        top: 173px;
        left: 5px;
        transform: scale(0.8);
    }
    #seat2 {
        top: 8px;
        left: 104px;
        transform: scale(0.8);
    }
    #seat3 {
        top: 8px;
        left: 262px;
        transform: scale(0.8);
    }
    #seat4 {
        top: 8px;
        left: 421px;
        transform: scale(0.8);
    }
    #seat5 {
        top: 8px;
        left: 580px;
        transform: scale(0.8);
    }
    #seat6 {
        top: 173px;
        left: 725px;
        transform: scale(0.8);
    }
    #seat7 {
        top: 345px;
        left: 580px;
        transform: scale(0.8);
    }
    #seat8 {
        top: 345px;
        left: 421px;
        transform: scale(0.8);
    }
    #seat9 {
        top: 345px;
        left: 262px;
        transform: scale(0.8);
    }
    #board {
        top: 193px;
        left: 235px;
        transform: scale(0.8);
    }
}

@media (max-width: 850px) {
    #seat0 {
        top: 324px;
        left: 98px;
        transform: scale(0.8);
    }
    #seat1 {
        top: 163px;
        left: 5px;
        transform: scale(0.8);
    }
    #seat2 {
        top: 8px;
        left: 98px;
        transform: scale(0.8);
    }
    #seat3 {
        top: 8px;
        left: 246px;
        transform: scale(0.8);
    }
    #seat4 {
        top: 8px;
        left: 396px;
        transform: scale(0.8);
    }
    #seat5 {
        top: 8px;
        left: 545px;
        transform: scale(0.8);
    }
    #seat6 {
        top: 163px;
        left: 682px;
        transform: scale(0.8);
    }
    #seat7 {
        top: 324px;
        left: 545px;
        transform: scale(0.8);
    }
    #seat8 {
        top: 324px;
        left: 396px;
        transform: scale(0.8);
    }
    #seat9 {
        top: 324px;
        left: 246px;
        transform: scale(0.8);
    }
    #board {
        top: 181px;
        left: 221px;
        transform: scale(0.8);
    }
}

#all-options {
    padding-top: 700px;
}

#game-options {
    width: 820px;
    padding: 50px 10px;
}

#action-options {
    height: 50px;
    display: inline-block;
}

.action-button {
    background-color: silver;
    border-radius: 3px;
    color: darkgreen;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    display: inline-block;
}

#setup-options {
    width: 200px;
    display: inline-block;
}

.setup-button {
    background-color: silver;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    width: 160px;
    margin: 3px;
}

.setup-button:hover {
    box-shadow: 3px 3px 4px #000000;
}

#betting-options {
    height:50px;
    width: 600px;
}

.betting-button {
    background-color: silver;
    border-radius: 4px;
    color: darkgreen;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    top: 0px;
    padding: 5px;
    display: inline-block;
}

.betting-button:hover {
    box-shadow: 3px 3px 4px #000000;
}

#bet-button {
    top: 0px;
}

#deal-button {
    top: 0px;
}

#join-button {
    top: 50px;
}

#away-button {
    top: 100px;
}

#rebuy-button {
    top: 100px;
}

#help-button {
    top: 150px;
}

#history {
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;
    height: 600px;
    left: 50px;
    position: absolute;
    top: 600px;
    width: 400px;
}

#game-response {
    background-color: rgba(255,255,255,.3);
    border: none;
    color: black;
    font-size: 12px;
    height: 100px;
    text-align: left;
    width: 800px;
    margin-top: 5px;
    padding-left: 5px;
}

#production-code {
    color: black;
    font-size: 10px;
    height: 20px;
    left: 900px;
    position: absolute;
    text-align: right;
    top: 310px;
}

.response-normal {
    background-color: transparent;
}

.response-warning {
    background-color: #FF0000;
}

#fold-button:hover {
    box-shadow: 3px 3px 4px #000000;
}

#call-button {
    left: 80px;
}

#call-button:hover {
    box-shadow: 3px 3px 4px #000000;
}

#quick-raises {
    border-radius: 4px;
    font-size: 18px;
    height: 30px;
    text-align: center;
    width: 3.5em;
    display: inline-block;
}

#quick-raises a:link {
    color: white;
    text-decoration: none;
}

#quick-raises a:hover {
    color: white;
    text-shadow: 3px 3px 4px #000000;
}

#modal-box {
    background-color: silver;
    display: none;
    font-size: 12px;
    height: 100%;
    left: 0px;
    overflow: auto; /* Enable scroll */
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 1;  /* Stay on top */
}

#modal-box a:link {
    color: white;
    text-decoration: none;
}
#modal-box a:hover {
    color: white;
    text-shadow: 3px 3px 4px #000000;
}



