html {
    background-image: url(images/__HoldemBackground.jpg);
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: none;
}

.shown {
    display: block;
}

.hidden {
    display: none;
}

.ribbon {
    background-color: rgba(165, 196, 217, .8);
    height: 113px;
    width: 100%;
    min-width: 800px;
}

.ribbon-button {
    background-color: rgba(165, 196, 217, .8);
    height: 90px;
    width: 90px;
    padding: 5px;
    float: left;
    margin: 2px 3px;
    box-shadow: 3px 3px 4px rgba(165, 196, 217, 0);
    border: 3px ridge lightblue;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.ribbon-button.setup-option {
    float: right;
}

.ribbon-button:hover {
    box-shadow: 3px 3px 4px #000000;
}

.button-icon {
    margin-left: 3px;
}

div#quick-raises-outer {
    float: left;
}

.poker-table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-width: 600px;
    padding: 0 0 200px 0;
}

.poker-table-image {
    width: 100%;
}

.poker-table-image-vertical {
    display: none;
}

#button, .dealerbutton {
    background-image: url(images/__dealerbutton.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 19px;
    position: absolute;
    width: 24px;
    left: 130px;
    top: 107px;
    display: none;
}

.dealerbutton.dealerbutton-current {
    display: block;
}

.name-chips {
    background-color: gray;
    border-radius: 3px;
    color: white;
    font-size: 1em;
    text-align: center;
    width: 140px;
    margin-top: 3px;
    overflow: hidden;
    white-space: nowrap;
}

.player-name {
    width: 100%;
}

.card {
    background-image: url(images/_cardback.png);
    background-size: cover;
    border-radius: 4px;
    height: 95px;
    width: 69px;
}

.holecard1 {
    display: table-cell;
}

.holecard2 {
    display: table-cell;
}

.bet {
    color: white;
    margin-top: 5px;
    white-space: nowrap;
}

.seat {
    height: 160px;
    width: 160px;
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    transform: scale(1.2);
}

#seat0 {
    top: 500px;
    left: 150px;
}

#seat1 {
    top: 250px;
    left: 5px;
}

#seat2 {
    top: 10px;
    left: 150px;
}

#seat3 {
    top: 10px;
    left: 380px;
}

#seat4 {
    top: 10px;
    left: 610px;
}

#seat5 {
    top: 10px;
    left: 840px;
}

#seat6 {
    top: 250px;
    left: 1050px;
}

#seat7 {
    top: 500px;
    left: 840px;
}

#seat8 {
    top: 500px;
    left: 610px;
}

#seat9 {
    top: 500px;
    left: 380px;
}

#board {
    position: absolute;
    top: 280px;
    left: 340px;
    transform: scale(1.2);
}

#pot {
    color: white;
    font-size: 1.3em;
    text-align: center;
    width: 340px;
    margin-top: 10px;
}

.seat0-button {
    left: 335px;
    top: 590px;
}

.seat1-button {
    left: 185px;
    top: 350px;
}

.seat2-button {
    left: 330px;
    top: 116px;
}

.seat3-button {
    left: 545px;
    top: 115px;
}

.seat4-button {
    left: 760px;
    top: 115px;
}

.seat5-button {
    left: 980px;
    top: 115px;
}

.seat6-button {
    left: 1156px;
    top: 350px;
}

.seat7-button {
    left: 980px;
    top: 590px;
}

.seat8-button {
    left: 760px;
    top: 590px;
}

.seat9-button {
    left: 330px;
    top: 590px;
}

.boardcard {
    left: 0px;
    background-repeat: no-repeat;
    width: 69px;
    display: table-cell;
}

#flop1 {
    left: 0 px;
}

#flop2 {
    left: 52px;
}

#flop3 {
    left: 104px;
}

#turn {
    left: 156px;
}

#river {
    left: 208px;
}

#burn1 {
    left: 380px;
    transform: rotate(-18deg);
    position: absolute;
    top: 0;
}

#burn2 {
    position: absolute;
    left: 390px;
    top: 0;
}

#burn3 {
    left: 400px;
    transform: rotate(15deg);
    position: absolute;
    top: 0;
}

@media (max-width: 1150px) {
    .seat {
        transform: scale(1.1);
    }
    #seat0 {
        top: 470px;
        left: 141px;
    }
    #seat1 {
        top: 235px;
        left: 5px;
    }
    #seat2 {
        top: 9px;
        left: 141px;
    }
    #seat3 {
        top: 9px;
        left: 357px;
    }
    #seat4 {
        top: 9px;
        left: 573px;
    }
    #seat5 {
        top: 9px;
        left: 790px;
    }
    #seat6 {
        top: 235px;
        left: 947px;
    }
    #seat7 {
        top: 470px;
        left: 790px;
    }
    #seat8 {
        top: 470px;
        left: 573px;
    }
    #seat9 {
        top: 470px;
        left: 357px;
    }
    #board {
        top: 263px;
        left: 260px;
        transform: scale(1.1);
    }
}

@media (max-width: 1100px) {
    .seat {
        transform: scale(1.1);
    }
    #seat0 {
        top: 442px;
        left: 133px;
    }
    #seat1 {
        top: 221px;
        left: 5px;
    }
    #seat2 {
        top: 8px;
        left: 133px;
    }
    #seat3 {
        top: 8px;
        left: 336px;
    }
    #seat4 {
        top: 8px;
        left: 539px;
    }
    #seat5 {
        top: 8px;
        left: 743px;
    }
    #seat6 {
        top: 221px;
        left: 888px;
    }
    #seat7 {
        top: 442px;
        left: 743px;
    }
    #seat8 {
        top: 442px;
        left: 539px;
    }
    #seat9 {
        top: 442px;
        left: 336px;
    }
    #board {
        top: 247px;
        left: 241px;
    }
}

@media (max-width: 1050px) {
    .seat {
        transform: scale(1);
    }
    #seat0 {
        top: 415px;
        left: 125px;
    }
    #seat1 {
        top: 208px;
        left: 5px;
    }
    #seat2 {
        top: 8px;
        left: 125px;
    }
    #seat3 {
        top: 8px;
        left: 316px;
    }
    #seat4 {
        top: 8px;
        left: 507px;
    }
    #seat5 {
        top: 8px;
        left: 698px;
    }
    #seat6 {
        top: 208px;
        left: 832px;
    }
    #seat7 {
        top: 415px;
        left: 698px;
    }
    #seat8 {
        top: 415px;
        left: 507px;
    }
    #seat9 {
        top: 415px;
        left: 316px;
    }
    #board {
        top: 232px;
        left: 223px;
        transform: scale(1);
    }
}

@media (max-width: 1000px) {
    .seat {
        transform: scale(0.9);
    }
    #seat0 {
        top: 390px;
        left: 118px;
    }
    #seat1 {
        top: 196px;
        left: 5px;
    }
    #seat2 {
        top: 8px;
        left: 118px;
    }
    #seat3 {
        top: 8px;
        left: 297px;
    }
    #seat4 {
        top: 8px;
        left: 477px;
    }
    #seat5 {
        top: 8px;
        left: 656px;
    }
    #seat6 {
        top: 196px;
        left: 780px;
    }
    #seat7 {
        top: 390px;
        left: 656px;
    }
    #seat8 {
        top: 390px;
        left: 477px;
    }
    #seat9 {
        top: 390px;
        left: 297px;
    }
    #board {
        top: 218px;
        left: 206px;
    }
}

@media (max-width: 950px) {
    .seat {
        transform: scale(0.9);
    }
    #seat0 {
        top: 367px;
        left: 111px;
    }
    #seat1 {
        top: 184px;
        left: 5px;
    }
    #seat2 {
        top: 8px;
        left: 111px;
    }
    #seat3 {
        top: 8px;
        left: 279px;
    }
    #seat4 {
        top: 8px;
        left: 448px;
    }
    #seat5 {
        top: 8px;
        left: 617px;
    }
    #seat6 {
        top: 184px;
        left: 731px;
    }
    #seat7 {
        top: 367px;
        left: 617px;
    }
    #seat8 {
        top: 367px;
        left: 448px;
    }
    #seat9 {
        top: 367px;
        left: 279px;
    }
    #board {
        top: 205px;
        left: 190px;
        transform: scale(.9);
    }
}

@media (max-width: 900px) {
    .seat {
        transform: scale(0.8);
    }
    #seat0 {
        top: 345px;
        left: 104px;
    }
    #seat1 {
        top: 173px;
        left: 5px;
    }
    #seat2 {
        top: 8px;
        left: 104px;
    }
    #seat3 {
        top: 8px;
        left: 262px;
    }
    #seat4 {
        top: 8px;
        left: 421px;
    }
    #seat5 {
        top: 8px;
        left: 580px;
    }
    #seat6 {
        top: 173px;
        left: 685px;
    }
    #seat7 {
        top: 345px;
        left: 580px;
    }
    #seat8 {
        top: 345px;
        left: 421px;
    }
    #seat9 {
        top: 345px;
        left: 262px;
    }
    #board {
        top: 193px;
        left: 175px;
    }
}

@media (max-width: 850px) {
    .seat {
        transform: scale(0.8);
        margin-top: 0;
    }
    #seat0 {
        top: 324px;
        left: 98px;
    }
    #seat1 {
        top: 163px;
        left: 5px;
    }
    #seat2 {
        top: 8px;
        left: 98px;
    }
    #seat3 {
        top: 8px;
        left: 246px;
    }
    #seat4 {
        top: 8px;
        left: 396px;
    }
    #seat5 {
        top: 8px;
        left: 545px;
    }
    #seat6 {
        top: 163px;
        left: 642px;
    }
    #seat7 {
        top: 324px;
        left: 545px;
    }
    #seat8 {
        top: 324px;
        left: 396px;
    }
    #seat9 {
        top: 324px;
        left: 246px;
    }
    #board {
        top: 181px;
        left: 161px;
        transform: scale(.8);
    }
}

@media (max-width: 800px) {
    #seat0 {
        top: 305px;
        left: 92px;
        
    }
    #seat1 {
        top: 153px;
        left: 5px;
        
    }
    #seat2 {
        top: 8px;
        left: 92px;
        
    }
    #seat3 {
        top: 8px;
        left: 231px;
        
    }
    #seat4 {
        top: 8px;
        left: 372px;
        
    }
    #seat5 {
        top: 8px;
        left: 512px;
        
    }
    #seat6 {
        top: 153px;
        left: 601px;
        
    }
    #seat7 {
        top: 305px;
        left: 512px;
        
    }
    #seat8 {
        top: 305px;
        left: 372px;
        
    }
    #seat9 {
        top: 305px;
        left: 231px;
        
    }
    #board {
        top: 170px;
        left: 148px;
        
    }
}

@media (max-width: 750px) {
    #seat0 {
        top: 287px;
        left: 86px;
        
    }
    #seat1 {
        top: 144px;
        left: 5px;
        
    }
    #seat2 {
        top: 8px;
        left: 86px;
        
    }
    #seat3 {
        top: 8px;
        left: 217px;
        
    }
    #seat4 {
        top: 8px;
        left: 350px;
        
    }
    #seat5 {
        top: 8px;
        left: 481px;
        
    }
    #seat6 {
        top: 144px;
        left: 563px;
        
    }
    #seat7 {
        top: 287px;
        left: 481px;
        
    }
    #seat8 {
        top: 287px;
        left: 350px;
        
    }
    #seat9 {
        top: 287px;
        left: 217px;
        
    }
    #board {
        top: 160px;
        left: 136px;
        
    }
}

@media (max-width: 700px) {
    .seat {
        transform: scale(0.7);
    }
    #seat0 {
        top: 260px;
        left: 81px;
        
    }
    #seat1 {
        top: 125px;
        left: 5px;
        
    }
    #seat2 {
        top: 0;
        left: 81px;
        
    }
    #seat3 {
        top: 0;
        left: 204px;
        
    }
    #seat4 {
        top: 0;
        left: 329px;
        
    }
    #seat5 {
        top: 0;
        left: 452px;
        
    }
    #seat6 {
        top: 125px;
        left: 527px;
        
    }
    #seat7 {
        top: 260px;
        left: 452px;
        
    }
    #seat8 {
        top: 260px;
        left: 329px;
        
    }
    #seat9 {
        top: 260px;
        left: 204px;
        
    }
    #board {
        top: 150px;
        left: 124px;
        transform: scale(0.7);
    }
}

@media (max-width: 650px) {
    #seat0 {
        top: 244px;
        left: 76px;
        
    }
    #seat1 {
        top: 117px;
        left: 5px;
        
    }
    #seat2 {
        top: 0;
        left: 76px;
        
    }
    #seat3 {
        top: 0;
        left: 192px;
        
    }
    #seat4 {
        top: 0;
        left: 309px;
        
    }
    #seat5 {
        top: 0;
        left: 425px;
        
    }
    #seat6 {
        top: 127px;
        left: 493px;
        
    }
    #seat7 {
        top: 244px;
        left: 425px;
        
    }
    #seat8 {
        top: 244px;
        left: 309px;
        
    }
    #seat9 {
        top: 244px;
        left: 192px;
        
    }
    #board {
        top: 131px;
        left: 113px;
        
    }
}

#history {
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;
    height: 600px;
    left: 50px;
    position: absolute;
    top: 600px;
    width: 400px;
}

#game-response {
    background-color: rgba(255, 255, 255, .3);
    height: 60px;
    text-align: left;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#production-code {
    color: black;
    font-size: 10px;
    height: 20px;
    left: 900px;
    position: absolute;
    text-align: right;
    top: 310px;
}

.response-normal {
    background-color: transparent;
}

.response-warning {
    background-color: #FF0000;
}

#modal-box {
    background-color: silver;
    display: none;
    font-size: 12px;
    height: 100%;
    left: 0px;
    overflow: auto;
    /* Enable scroll */
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 1;
    /* Stay on top */
}

#modal-box a:link {
    color: white;
    text-decoration: none;
}

#modal-box a:hover {
    color: white;
    text-shadow: 3px 3px 4px #000000;
}