html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    height: 100%;
}

body {
    background-image: url('images/HoldemBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    height: 100%;
    margin: 0;
}

.poker-table {
    background-repeat: no-repeat;
    width: 1028px;
    padding-left: 100px;
}

.seat {
    height: 150px;
    position: absolute;
    width: 150px;
}

#button, .button {
    background-image: url('images/dealerbutton.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 19px;
    position: absolute;
    width: 24px;
}

.name-chips {
    background-color: gray;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    height: 33px;
    text-align: center;
    width: 140px;
    margin-top: 3px;
}

.player-name {
    width: 100%;
}

.card {
    background-image: url(images/cardback.png);
    background-size: cover;
    border-radius: 4px;
    height: 101px;
    width: 69px;
}

.holecard1 {
    display: table-cell;
}

.holecard2 {
    display: table-cell;
}

.bet {
    color: white;
    font-size: 12px;
    top: 0px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
    margin-top: 5px;
}


#seat0 {
    left: 200px;
    top: 480px;
}

#seat1 {
    left: 50px;
    top: 240px;
}

#seat2 {
    left: 200px;
    top: 5px;
}

#seat3 {
    left: 415px;
    top: 5px;
}

#seat4 {
    left: 630px;
    top: 5px;
}

#seat5 {
    left: 850px;
    top: 5px;
}

#seat6 {
    left: 1030px;
    top: 240px;
}

#seat7 {
    left: 850px;
    top: 480px;
}

#seat8 {
    left: 630px;
    top: 480px;
}

#seat9 {
    left: 415px;
    top: 480px;
}

.seat0-button {
    left: 335px;
    top: 590px;
}

.seat1-button {
    left: 185px;
    top: 350px;
}

.seat2-button {
    left: 330px;
    top: 116px;
}

.seat3-button {
    left: 545px;
    top: 115px;
}

.seat4-button {
    left: 760px;
    top: 115px;
}

.seat5-button {
    left: 980px;
    top: 115px;
}

.seat6-button {
    left: 1156px;
    top: 350px;
}

.seat7-button {
    left: 980px;
    top: 590px;
}

.seat8-button {
    left: 760px;
    top: 590px;
}

.seat9-button {
    left: 330px;
    top: 590px;
}

#board {
    left: 440px;
    position: absolute;
    top: 222px;
}

#pot {
    color: white;
    font-size: 16px;
    left: 560px;
    position: absolute;
    text-align: center;
    top: 345px;
}

.boardcard {
    height: 101px;
    left: 0px;
    background-repeat: no-repeat;
    width: 69px;
    display: table-cell;
}

#flop1 {
    left: 0 px;
}

#flop2 {
    left: 52px;
}

#flop3 {
    left: 104px;
}

#turn {
    left: 156px;
}

#river {
    left: 208px;
}

#burn1 {
    left: 380px;
    transform: rotate(-18deg);
    position: absolute;
    top: 0;
}

#burn2 {
    position: absolute;
    left: 390px;
    top: 0;
}

#burn3 {
    left: 400px;
    transform: rotate(15deg);
    position: absolute;
    top: 0;
}

#all-options {
    margin-top: 65px;
}

#game-options {
    width: 820px;
    padding: 50px 10px;
}

#action-options {
    height: 50px;
    display: inline-block;
}

.action-button {
    background-color: silver;
    border-radius: 3px;
    color: darkgreen;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    display: inline-block;
}

#setup-options {
    width: 200px;
    display: inline-block;
}

.setup-button {
    background-color: silver;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    width: 160px;
    margin: 3px;
}

.setup-button:hover {
    box-shadow: 3px 3px 4px #000000;
}

#betting-options {
    height:50px;
    width: 600px;
}

.betting-button {
    background-color: silver;
    border-radius: 4px;
    color: darkgreen;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    top: 0px;
    padding: 5px;
    display: inline-block;
}

.betting-button:hover {
    box-shadow: 3px 3px 4px #000000;
}

#bet-button {
    top: 0px;
}

#new-game-button {
    top: 0px;
}

#join-button {
    top: 50px;
}

#away-button {
    top: 100px;
}


#help-button {
    top: 150px;
}

#next-hand-button {
    top: 200px;
}

#history {
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;
    height: 600px;
    left: 50px;
    position: absolute;
    top: 600px;
    width: 400px;
}

#game-response {
    background-color: rgba(255,255,255,.3);
    border: none;
    color: black;
    font-size: 12px;
    height: 100px;
    text-align: left;
    width: 800px;
    margin-top: 5px;
    padding-left: 5px;
}

#production-code {
    color: black;
    font-size: 10px;
    height: 20px;
    left: 900px;
    position: absolute;
    text-align: right;
    top: 310px;
}

.response-normal {
    background-color: transparent;
}


.response-warning {
    background-color: #FF0000;
}

#fold-button:hover {
    box-shadow: 3px 3px 4px #000000;
}

#call-button {
    left: 80px;
}

#call-button:hover {
    box-shadow: 3px 3px 4px #000000;
}

#quick-raises {
    border-radius: 4px;
    font-size: 18px;
    height: 30px;
    text-align: center;
    width: 3.5em;
    display: inline-block;
}

#quick-raises a:link {
    color: white;
    text-decoration: none;
}
#quick-raises a:hover {
    color: white;
    text-shadow: 3px 3px 4px #000000;
}

#modal-box {
    background-color: silver;
    display: none;
    font-size: 12px;
    height: 100%;
    left: 0px;
    overflow: auto; /* Enable scroll */
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 1;  /* Stay on top */
}

#modal-box a:link {
    color: white;
    text-decoration: none;
}
#modal-box a:hover {
    color: white;
    text-shadow: 3px 3px 4px #000000;
}



