.spinBox {
    position: relative;
    padding-right: 0.875em;
    border-radius: 0.25em;
    /* box-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.5); */
    float: left;
    margin-left: 0;
    margin-top: 10px;
}

.spinBox input {
    display: block;
    width: 90px;
    padding: 0 0.7em 0 .15em;
    border: 0.0625em solid rgb(224, 224, 224);
    border-right: none;
    color: rgb(64, 64, 64);
    text-align: right;
    font-size: 30px;
    height: 48px;
    margin-left: 20px;
}

.spinBox input[disabled] {
    background: rgb(240, 240, 240);
}

.spinBoxUp, .spinBoxDown {
    position: absolute;
    display: block;
    width: 1.5em;
    height: 3.1em;
    border: 0.0625em solid rgb(224, 224, 224);
    background: rgb(248, 248, 248);
    background-image: -webkit-linear-gradient(rgb(248, 248, 248), rgb(240, 240, 240));
    background-image: linear-gradient(rgb(248, 248, 248), rgb(240, 240, 240));
    cursor: pointer;
}

.spinBox input[disabled]+span, .spinBox input[disabled]+span+span {
    background: rgb(240, 240, 240);
    cursor: auto;
}

.spinBoxUp span, .spinBoxDown span {
    display: block;
    width: 1.5em;
    height: 3em;
}

.spinBoxUp {
    top: 0;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    left: 0;
}

.spinBoxUp span {
    background: url('images/__arrow-up.png') no-repeat center center;
}

.spinBoxDown {
    bottom: 0;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    right: 0;
}

.spinBoxDown span {
    background: url('images/__arrow-down.png') no-repeat center center;
}
